.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../../assets/images/grayscale-photography-of-trees-1529881.jpg');
  background-size: cover;
  background-position: top center;
  color: white;
  font-size: large;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  color: black;
}

.projectBoxText {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: rgb(32, 50, 56);
}

.projectBox:hover .projectBoxText {
opacity: .6;
}

.projectName {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

footer {
padding: 5rem 0;
}

.name {
font-size: 75px;
}

.bg-light, .navbar {
  transition: 500ms ease;
  background-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
}

.bg-light.scrolled {
  background-color: gray !important;
}


/*Small devices (landscape phones, 576px and up)*/ 
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  
}